body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
}
html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}

#music{
    position:absolute;
    background:transparent;
    opacity:.5;
    width:66vw;
    height:23vw;
    margin-top:20vh;
    margin-left:17vw;
}

#top-row, #bottom-row{height:60%;}
#bottom-row{
    margin-top:-4.3vw;
    margin-left:36%;
    z-index:10;
}
.button{
    display:inline-block;
    height:100%;
    /*border:2px solid grey;*/
    z-index:1000;
}
#b, #n {width:14%;}
#r, #u{width:12%}
#i{width:5%;}
#q{height:60%;}
#ba, #a, #s, #h, #q { width:19%;}

#r{cursor: url('assets/images/chancelogo.png'), auto;}
#u{cursor: url('assets/images/madeonlogo.png'),auto;}
#a{cursor: url('assets/images/sweaterbeatslogo.gif'),auto;}
#h{cursor: url('assets/images/tydollalogo.png'),auto;}

.moving_gif_col{
    position: fixed;
    top: 20%;
}

#hover{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
    font-style:italic;
    font-weight:900;
    top:5vh;
    position:fixed;
    font-size:2em;
}

.container-fluid .moving_gif{
    width: 120%;
    position:relative;
    top:-20vh;
    left:-7vw;
}

.inactive{
    display: none;
}

#countdown{
    position: fixed;
    top: 70%;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size:4.5em;
    font-weight: 900;
    margin-bottom:5vh;
}

.days{margin-right:50px;}

#sponsors{
    position: fixed;
    bottom: 8%;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 1.25em;
    font-weight: 900;
}

.logo{
    width:70px;
    height:70px;
}

.mobile-break{display:none;}
@media only screen and (max-height:550px) and (max-width:780px){
    .container-fluid .moving_gif{
        width:100%;
        left:0;
        top:-5vh;
    }
    #music{
        width:70vw;
        height:38vw;
        margin-top:25vw;
        margin-left:18vw;
    }
    #countdown{font-size:.9em; top:60%;}
}
@media only screen and (max-width: 990px) {
    #countdown{font-size:2em;}
    .mobile-break{display:block;}
    .container-fluid .moving_gif{
        width:185%;
        left:-40vw;
    }
    #music{
        width:100vw;
        height:50vw;
        margin-top:17vw;
        margin-left:-3vw;
    }
    #top-row{
        margin-left:12%;
    }
    #bottom-row{
        margin-top:0;
        margin-left:7%;
        z-index:10;
    }
    #b, #n {width:20%;}
    #r, #u{width:20%}
    #i{width:10%;}
    #qm{display:inline-block !important;height:50%;}
}
@media only screen and (max-width:768px) and (max-height:1024px){
    #music{  margin-top:26vw;  }
}
@media only screen and (max-width: 560px){
    #ba, #a, #s, #h, #qm{ width:18%;}
    #music{margin-top:17vh;}
    #hover{top:5vh; font-size:1.4em;}
    .days{margin-right:0;}
}