body {
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: white;
}

.madeon-button{
    height:100px;
    width:100px;
    background-color:lightblue;
    cursor: url('assets/images/vodc9otcnpex.png'), auto;
}

.moving_gif_col{
    position: fixed;
    top: 20%;
}

.moving_gif{
    width: 100%;
}

.inactive{
    display: none;
}

.madeon-background{
    background-image: url("assets/images/bb_madeon.gif");
}

#countdown{
    position: fixed;
    top: 70%;
    text-align: center;
    vertical-align: middle;
    text: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 4.5em;
    font-weight: 900;
}

#sponsors{
    position: fixed;
    bottom: 8%;
    text-align: center;
    vertical-align: middle;
    text: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 1.25em;
    font-weight: 900;
}